.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  color: white;
  padding: 0 40px;
  min-height: 59px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  &--black {
    background-color: var(--color-black);
    &:hover {
      border: 1px solid var(--color-black);
      color: var(--color-black);
      background-color: var(--color-white);;
      transition: all 0.3s ease;
    }
  }
  &--white {
    border: 1px solid var(--color-black);
    color: var(--color-black);
    background-color: var(--color-white);;
    &:hover {
      background-color: var(--color-black);
      border: 1px solid var(--color-white);
      color: var(--color-white);
      transition: all 0.3s ease;
    }
  }
  @media (max-width: 767px) {
    font-size: 14px;
  }
}
