.form__items {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-bottom: 15px;
}

input {
  padding-inline: 40px;
  min-height: 65px;
  border-radius: 20px;
  border: 1px solid #4f4f4f;
  background: white;
  outline: none;
  width: 100%;
  &::placeholder {
	font-size: 18px;
	font-weight: 300;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: -0.54;
	color: #BDBDBD;
  }
  @media (max-width: 767px) {
	min-height: 45px;
	border-radius: 10px;
	padding-inline: 20px;
  }
}

.form__agr {
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 30px;
	a {
		text-decoration: underline;
		font-size: 12px;
		font-weight: 500;
	}
}

.form__input {
	&:invalid {
		border: 1px solid var(--color-red);
		&::placeholder {
			color: var(--color-red);
		}
	}
}