.header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 27px;
  padding: 23px 0;
  &::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 1px;
    background-color: #4f4f4f;
    @media (max-width: 1160px) {
      left: -100%;
      width: 1000%;
    }
  }
  @media (max-width: 1160px) {
    padding: 8px 0;
  }
}

.header__phone {
  font-size: 16px;
  font-weight: 600;
  @media (max-width: 1160px) {
    display: none;
  }
}

.logo {
  // margin-right: 36px;
  &--menu {
    display: none;
    margin-bottom: 50px;
    @media (max-width: 1160px) {
      display: block;
    }
  }
}
