section
	._container
		.acc__wrapper._container-inner 
			.col-left 
				h2.title-grey Часто задаваемые вопросы (FAQ)
			.col-right
				h3.accordion__title Доктор отвечает на ваши вопросы
				//- accordion
				.accordion.accordion-questions#accordion-2
					.accordion__item.accordion__item_show
						h4.accordion__header Всегда ли необходима операция? 
						.accordion__body
							video.video(src="" poster="img/poster2.png") 
							.accordion__links
								a.accordion__link(href="") Текст
								a.accordion__link(href="") Видео-ответ
					.accordion__item 
						h4.accordion__header Нужно ли брать больничный?
						.accordion__body
							video.video(src="" poster="img/poster2.png") 
							.accordion__links
								a.accordion__link(href="") Текст
								a.accordion__link(href="") Видео-ответ
					.accordion__item
						h4.accordion__header Варикоз появляется повторно? 
						.accordion__body
							video.video(src="" poster="img/poster2.png") 
							.accordion__links
								a.accordion__link(href="") Текст
								a.accordion__link(href="") Видео-ответ
					.accordion__item
						h4.accordion__header От чего возникает варикоз?
						.accordion__body
							video.video(src="" poster="img/poster2.png") 
							.accordion__links
								a.accordion__link(href="") Текст
								a.accordion__link(href="") Видео-ответ