//- accordion
.accordion#accordion-4
    .accordion__item.accordion__item_show
        h4.accordion__header Склеротерапия
        .accordion__body
            .accordion__text
                p Безоперационная методика лечения варикозной болезни.
                p Внутрь вены вводится биологическое вещество, которое склеивает стенки сосуда и прекращает неправильный кровоток.
            video.video(src="" poster="img/poster.png") 
                a.accordion__link(href="") Узнать подробнее
    .accordion__item 
        h4.accordion__header Эндовазальная лазерная коагуляция
        .accordion__body
            .accordion__text
                p Безоперационная методика лечения варикозной болезни.
                p Внутрь вены вводится биологическое вещество, которое склеивает стенки сосуда и прекращает неправильный кровоток.
            video.video(src="" poster="img/poster.png") 
                a.accordion__link(href="") Узнать подробнее
    .accordion__item 
        h4.accordion__header Клеевая облитерация 
        .accordion__body
            .accordion__text
                p Безоперационная методика лечения варикозной болезни.
                p Внутрь вены вводится биологическое вещество, которое склеивает стенки сосуда и прекращает неправильный кровоток.
            video.video(src="" poster="img/poster.png") 
                a.accordion__link(href="") Узнать подробнее                
    .accordion__item 
        h4.accordion__header Минифлебэктомия
        .accordion__body
            .accordion__text
                p Безоперационная методика лечения варикозной болезни.
                p Внутрь вены вводится биологическое вещество, которое склеивает стенки сосуда и прекращает неправильный кровоток.
            video.video(src="" poster="img/poster.png") 
                a.accordion__link(href="") Узнать подробнее                                