//- accordion
.accordion#accordion-3
    .accordion__item.accordion__item_show
        h4.accordion__header В цену включено 
        .accordion__body
            ul.price__included
                li Местная анестезия;
                li Эндовазальная лазерная коагуляция большой и/или малой подкожных вен одноразовым радиальным световодом на одной конечности;
                li Удаление оставшихся варикозно измененных притоков методом склеротерапии или минифлебэктомии, при необходимости;
                li Наблюдение в течение 12 месяцев, соответственно графику визитов.
    .accordion__item 
        h4.accordion__header Оплачивается отдельно
        .accordion__body
            ul.price-list 
                li Обследование перед процедурой: ОАК, показатели системы гемостаза, инфекции крови;
                li Компрессионный трикотаж (гольф/чулок) по показаниям.