section.author
	._container
		.author__wrapper._container-inner 
			.col-left 
				h2.title-grey О докторе
			.col-right
				h2.title__author.--italic
					span Поповцев 
					span Максим Александрович
				.author__content 
					img.author__pic(src="img/author.png" alt="")
					.author__block
						h4.author__block-title Врач-хирург, флеболог
						.author__block-text
							p Использую все современные малоинвазивные методы лечения варикозной болезни: различиные виды склеротерапии, эндовазальную лазерную коагуляцию (ЭВЛК), радиочастотную абляцию (РЧА), минифлебэктомию.
						a.btn.btn--white.author__btn(href="") Подробнее о докторе