section.author
	._container
		.author__wrapper._container-inner 
			.col-left 
				h2.title-grey Диагностика
			.col-right
				h3.author__title Невозможно поставить диагноз <br> варикозная болезнь, не сделав<br> УЗИ вен ног
				.author__content 
					img.author__pic(src="img/pic13.png" alt="")
					.author__block
						h4.author__block-title Ультразвуковое ангиосканирование (УЗИ)
						.author__block-text
							p Основной метод диагностики нарушения работы клапанного аппарата подкожных вен нижних конечностей. 