section.directions-2
	._container
		._container-inner 
			.col-left 
				h2.title-grey Причины
			.col-right
				.directions__wrapper 
					.directions__item Генетическая предрасположенность
						p поломки в различных генах
					.directions__item Перенесенный венозный тромбоз подкожных вен
					.directions__item Патология глубоких вен
					.directions__item Пластическая хирургия

					