section.directions
	._container
		._container-inner 
			.col-left 
				h2.title-grey Специализация
			.col-right
				.directions__wrapper 
					.directions__item Флебология
					.directions__item Общая хирургия
					.directions__item Ультразвуковая <br> диагностика
					.directions__item Онкология
					.directions__item Пластическая хирургия