footer.footer
	._container 
		.footer__wrapper 
			.footer__col 
				a.footer__logo(href="index.html")
					img(src="img/logo-footer.svg" alt="логотип")
				.social.social--footer
					a.social__link(href="")
						img(src="img/VKcom-grey.png" alt="")
					a.social__link(href="")
						img(src="img/YouTube-grey.png" alt="")
					a.social__link(href="")
						img(src="img/Instagram-grey.png" alt="")
					a.social__link(href="")
						img(src="img/WhatsApp-grey.png" alt="")
			.footer__col 
				.footer__box.ga1 
					h5.footer__title 
						| Пациентам
						svg(width="10" height="10")
							use(href="#icn-arrow-left")
					.footer__content
						a.footer__link(href="about-doc.html") О докторе
						a.footer__link(href="about.html") О клинике
						a.footer__link(href="licenses.html") Лицензии
						a.footer__link(href="price.html") Цены
						a.footer__link(href="answers.html") Ответы (FAQ)
						a.footer__link(href="results.html") Результаты лечения
						a.footer__link(href="contacts.html") Контакты
				.footer__box.footer__politics.ga4
					a.footer__link(href="") Политика конфиденциальности
					a.footer__link(href="") Обработка файлов Cookies
				.footer__box.ga2 
					h5.footer__title 
						| Заболевания
						svg(width="10" height="10")
							use(href="#icn-arrow-left")
					.footer__content
						a.footer__link(href="deseases.html") Варикозная болезнь
						a.footer__link(href="deseases.html") Венозный тромбоз
						a.footer__link(href="deseases.html") Косметическая флебология
				.footer__box.ga5 
					h5.footer__title 
						| Методы лечения
						svg(width="10" height="10")
							use(href="#icn-arrow-left")
					.footer__content
						a.footer__link(href="method.html") Консультация с УЗИ вен ног
						a.footer__link(href="method.html") ЭВЛК
						a.footer__link(href="method.html") Склеротерапия
						a.footer__link(href="method.html") Минифлебэктомия
						a.footer__link(href="method.html") Клеевая облитерация
				.footer__box.ga3 
					h5.footer__title 
						| Контакты
						svg(width="10" height="10")
							use(href="#icn-arrow-left")
					.footer__content
						p.footer__text Москва, <br> ул. Краснопролетарская 8, с1.
						p.footer__text Ежедневно с 9 до 21.
						p.footer__text Прием и консультация только по предварительной записи по телефону +7 (495) 008 48 83
						p.footer__text Личный номер доктора <br>
							a(href="tel:+79261973643") +7 (926) 197 36 43
		p.footer__requisites ИП «Поповцев Максим Александрович», ИНН 1123433456, ОГРНИП 2345934059
