section.grid-blocks
	._container
		._container-inner
			.col-left 
				h2.title.title-grey Направления <br> лечения
			.col-right
				.grid-blocks__wrapper
					.grid-blocks__col
						h4.grid-blocks__title Лечение варикоза
						p Использую современные методы лечения варикозной болезни: виды склеротерапии, эндовазальную лазерную коагуляцию.
					.grid-blocks__col
						h4.grid-blocks__title Лечение венозного трамбоза
						p Использую все современные малоинвазивные методы лечения варикозной болезни: различиные виды склеротерапии.
					.grid-blocks__col
						h4.grid-blocks__title Косметическая флебология
						p Использую все современные малоинвазивные методы лечения варикозной болезни: различиные виды склеротерапии, РЧА, ЭВЛК.