section.main-block
	._container
		._container-inner 
			.col-left 
			.col-right
				h1.main-block__title #{mainBlockTitle}
				.main-block__content
					h3.main-block__sub-title #{mainBlockSubtitle}
					.main-block__text
						p #{mainBlockText}
					button.btn.btn--black.main-block__btn Записаться на консультацию