script(src="js/swiper-bundle.min.js")
script(src='js/accordion.js')
script(src='js/tabs.js')
script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<ваш API-ключ>')
script(src='js/ya.js')
script(src="js/jquery-3.7.1.min.js")
script(src="js/formsSubmit.js")
script(src='js/main.js')