section.slider 
	._container 
		.slider__wrap._container-inner 
			.col-left
				h2.title-grey Результаты лечения
			.col-right 
				.col-right__head
					h3 Заметный результат
					p Посмотрите фотографии и видео до и сразу после процедуры.
		._container-inner-2
			.col-left 
			.col-right 
				.tab#tab-1 
					.tab-nav 
						button.tab-btn.tab-btn-active(data-target-id="0") Все
						button.tab-btn(data-target-id="1") Фото
						button.tab-btn(data-target-id="2") Видео
					.tab-content 
						.tab-pane.tab-pane-show(data-id="0")
							.swiper.slider-result#slider-result-1.-margin
								.swiper-wrapper 
									.swiper-slide 
										img(src="img/pic1.png" alt="")
									.swiper-slide 
										img(src="img/pic1.png" alt="")
									.swiper-slide 
										img(src="img/pic1.png" alt="")
								.swiper-footer._container
									.swiper-navigation
										.swiper-button-prev
											svg(width="80" height="80")
												use(href="#icn-arrow-prev")
										.swiper-button-next
											svg(width="80" height="80")
												use(href="#icn-arrow-next")
									.swiper-pagination
						.tab-pane(data-id="1")
							.swiper.slider-result#slider-result-2.-margin
								.swiper-wrapper 
									.swiper-slide 
										img(src="img/pic1.png" alt="")
									.swiper-slide 
										img(src="img/pic1.png" alt="")
									.swiper-slide 
										img(src="img/pic1.png" alt="")
								.swiper-footer._container
									.swiper-navigation
										.swiper-button-prev
											svg(width="80" height="80")
												use(href="#icn-arrow-prev")
										.swiper-button-next
											svg(width="80" height="80")
												use(href="#icn-arrow-next")
									.swiper-pagination
						.tab-pane(data-id="2")
							.swiper.slider-result#slider-result-3.-margin
								.swiper-wrapper 
									.swiper-slide 
										img(src="img/pic1.png" alt="")
									.swiper-slide 
										img(src="img/pic1.png" alt="")
									.swiper-slide 
										img(src="img/pic1.png" alt="")
								.swiper-footer._container
									.swiper-navigation
										.swiper-button-prev
											svg(width="80" height="80")
												use(href="#icn-arrow-prev")
										.swiper-button-next
											svg(width="80" height="80")
												use(href="#icn-arrow-next")
									.swiper-pagination




