section.slider 
	._container 
		.slider__wrap._container-inner 
			.col-left
				h2.title-grey Резюме
			.col-right 
				.col-right__head
					h3 5 сертификатов в разных <br> направлениях хирургии
					p Каждые 5 лет подтверждаю сертификаты, обучаясь и сдавая экзамены.
		._container-inner-2
			.col-left 
			.col-right 
				.swiper.slider-resume
					.swiper-wrapper 
						.swiper-slide 
							h3.slider-resume__title 2007
							p Окончил Курский Государственный медицинский университет по специальности «Лечебное дело»
						.swiper-slide 
							h3.slider-resume__title 2007-2008
							p Клиническая ординатура в УМНИЦ управления делами Президента РФ, отделение хирургии под управлением профессора Брехова Е.И.
						.swiper-slide 
							h3.slider-resume__title 2009
							p Cертификационный курс по эндоскопической хирургии и хирургии ожирения (бариотрии)
						.swiper-slide 
							h3.slider-resume__title 2007-2008
							p Клиническая ординатура в УМНИЦ управления делами Президента РФ, отделение хирургии под управлением профессора Брехова Е.И.
					.swiper-scrollbar
					.swiper-footer._container
						.swiper-navigation
							.swiper-button-prev
								svg(width="80" height="80")
									use(href="#icn-arrow-prev")
							.swiper-button-next
								svg(width="80" height="80")
									use(href="#icn-arrow-next")
					
