section.slider 
	._container 
		.slider__wrap._container-inner 
			.col-left
				h2.title-grey Этапы процедуры
			.col-right 
				.col-right__head
					h3 Как проходит процедура?
		._container-inner-2
			.col-left 
			.col-right 
				.swiper.slider-result#slider-steps
					.swiper-wrapper 
						.swiper-slide 
							img(src="img/pic7.png" alt="")
							p Пациент находится в положении лежа на спине или животе
						.swiper-slide 
							img(src="img/pic7.png" alt="")
							p Пациент находится в положении лежа на спине или животе
						.swiper-slide 
							img(src="img/pic7.png" alt="")
							p Пациент находится в положении лежа на спине или животе
					.swiper-footer._container
						.swiper-navigation
							.swiper-button-prev
								svg(width="80" height="80")
									use(href="#icn-arrow-prev")
							.swiper-button-next
								svg(width="80" height="80")
									use(href="#icn-arrow-next")
						.swiper-pagination
