section.slider 
	._container 
		.swiper.slider-pic
			.swiper-wrapper 
				.swiper-slide 
					img(src="img/slide1.png" alt="")
				.swiper-slide 
					img(src="img/slide1.png" alt="")
				.swiper-slide 
					img(src="img/slide1.png" alt="")
			.swiper-pagination
			.swiper-footer
				.swiper-navigation
					.swiper-button-prev
						svg(width="80" height="80")
							use(href="#icn-arrow-prev")
					.swiper-button-next
						svg(width="80" height="80")
							use(href="#icn-arrow-next")

