section.slider.signs
	._container 
		.slider__wrap._container-inner 
			.col-left
				h2.title-grey Признаки варикоза
			.col-right 
				.col-right__head
					h3 Как понять, что это варикозная болезнь?
		._container-inner-2
			.col-left 
			.col-right 
				h4.signs__title Визуальные признаки:
				.swiper#slider-signs
					.swiper-wrapper 
						.swiper-slide 
							img(src="img/pic12.png" alt="")
							p Появление расширенных вен
						.swiper-slide 
							img(src="img/pic12.png" alt="")
							p Увеличение ноги в объеме
						.swiper-slide 
							img(src="img/pic12.png" alt="")
							p Пигментация
						.swiper-slide 
							img(src="img/pic12.png" alt="")
							p Воспаление
						.swiper-slide 
							img(src="img/pic12.png" alt="")
							p Появление расширенных вен
						.swiper-slide 
							img(src="img/pic12.png" alt="")
							p Увеличение ноги в объеме
						.swiper-slide 
							img(src="img/pic12.png" alt="")
							p Пигментация
						.swiper-slide 
							img(src="img/pic12.png" alt="")
							p Воспаление
					.swiper-footer._container
						.swiper-navigation
							.swiper-button-prev
								svg(width="80" height="80")
									use(href="#icn-arrow-prev")
							.swiper-button-next
								svg(width="80" height="80")
									use(href="#icn-arrow-next")
						.swiper-pagination