section.slider 
	._container 
		.slider__wrap._container-inner 
			.col-left
				h2.title-grey Сертификаты <br> и лицензии
			.col-right 
				.slider__head
					h3 5 сертификатов в разных <br> направлениях хирургии
					p Каждые 5 лет подтверждаю сертификаты, обучаясь и сдавая экзамены.
		._container-inner-2
			.col-left 
			.col-right 
				.swiper.slider-sertificat
					.swiper-wrapper 
						.swiper-slide 
							img(src="img/pic2.png" alt="")
							p Сертификат Ультразвуковая диагностика
						.swiper-slide 
							img(src="img/pic3.png" alt="")
							p Сертификат Хирургия
						.swiper-slide 
							img(src="img/pic4.png" alt="")
							p Сертификат Пластическая хирургия
						.swiper-slide 
							img(src="img/pic4.png" alt="")
							p Сертификат Пластическая хирургия
						.swiper-slide 
							img(src="img/pic4.png" alt="")
							p Сертификат Пластическая хирургия
						.swiper-slide 
							img(src="img/pic3.png" alt="")
							p Сертификат Хирургия
						.swiper-slide 
							img(src="img/pic4.png" alt="")
							p Сертификат Пластическая хирургия
						.swiper-slide 
							img(src="img/pic4.png" alt="")
							p Сертификат Пластическая хирургия
						.swiper-slide 
							img(src="img/pic4.png" alt="")
							p Сертификат Пластическая хирургия
					.swiper-scrollbar
					.swiper-footer._container
						.swiper-navigation
							.swiper-button-prev
								svg(width="80" height="80")
									use(href="#icn-arrow-prev")
							.swiper-button-next
								svg(width="80" height="80")
									use(href="#icn-arrow-next")
					
