.vectors
	//- 60х60
	<svg id="icn-arrow-feedback" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0H60V60H52V14L6 60L0 54L46 8H0V0Z" fill="#333333"/></svg>
	<svg id="icn-arrow-left" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 10L0 5L10 0V10Z" fill="var(--color-arrow)"/></svg>
	<svg id="icn-arrow-left2" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.5 8L0.00480908 0.5L12.9952 0.500001L6.5 8Z" fill="#1D1D1D"/></svg>
	<svg id="icn-arrow-next" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="40" cy="40" r="39.5" stroke="#333333"/><path d="M58.5 39.7177C58.5 39.2502 58.0631 38.8234 58.0061 38.7697C58.002 38.7658 57.9979 38.7621 57.9938 38.7583L42 24M58.5 39.7177C58.5 40.1581 58.112 40.5626 58.0196 40.6526C58.0066 40.6653 57.9934 40.6775 57.9803 40.6901L42 56M58.5 39.7177H19" stroke="#333333" stroke-width="2" stroke-linecap="round"/></svg>
	<svg id="icn-arrow-prev" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="40" cy="40" r="39.5" transform="rotate(-180 40 40)" stroke="#333333"/><path d="M21.5 40.2823C21.5 40.7498 21.9369 41.1766 21.9939 41.2303C21.998 41.2342 22.0021 41.2379 22.0062 41.2417L38 56M21.5 40.2823C21.5 39.8419 21.888 39.4374 21.9804 39.3474C21.9934 39.3347 22.0066 39.3225 22.0197 39.3099L38 24M21.5 40.2823L61 40.2824" stroke="#333333" stroke-width="2" stroke-linecap="round"/></svg>
