extends templates/layout

block main 
    main.content-404
        ._container 
            h1.title 404
            .content-404
                h3 Страница не найдена
                p К сожалению, запрашиваемая вами страница не существует, удалена или была переименована.
                a.btn.btn--default(href="") Перейти на главную страницу